html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $black;
    background-color: $platinum;
}

nav {
    background-color: $blue;
    color: $platinum;
    text-align: center;
    padding-bottom: 20px;

    img {
      border-radius: 50%;
      width: 120px;
      margin-top: 20px;
      margin-bottom: 10px;
      border: 1px solid black;
    }

    a {
        color: $platinum;
    }

    a:hover {
        color: white;
    }

    h1 {
        margin-bottom: 0;
        margin-top: 0;
    }

    hr {
        height: 1px;
        border-bottom: 1px solid white;
    }

    p {
        font-size: 10px;
        color: #ccc;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        flex: 1;
        text-align: center;
        padding: 10px;
        margin: 0;

        &:last-child {
            padding-bottom: 0px;
        }
    }
}

main {
    padding: 0 20px 20px;
    flex: 1;
}

@media screen and (min-width: 768px) {
    body {
        flex-direction: row-reverse;
    }

    nav {
        width: 250px;
        padding: 0 20px;

        ul {
            display: block;
        }

        li {
            padding: 0 0 10px 0;
            display: block;
        }
    }
}
